* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(img3.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-bar {
  background: rgb(44, 46, 56);
  text-align: right;
  font-size: 15px;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 100px;
  margin: 5px;
  padding: 15px;
  text-align: center;
}
.menu-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
}
.menu-bar ul li:hover {
  background-color: #0ab5f9;
  border-radius: 10px;
}
.sub-menu1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu1 {
  display: block;
  margin-top: 15px;
  margin-left: -15px;
  position: absolute;
  background: #08091b;
}
.menu-bar ul li:hover .sub-menu1 ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li {
  width: 120px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  padding: 10px;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover {
  color: #0ab5f9;
}
