.header{
    background-color: rgba(0, 0, 0, 0.807);
    border: blue;
}

#web-title{
    padding-top: 2vw;
    text-align: center;
    color: aliceblue;
}
#page-title{
    color: indigo;
}

#menu-bar-list{
    background-color: rgba(0, 0, 0, 0.892);
    height: 5vh;
}

a:hover{
    background-color: aliceblue;
    color: purple;
}
a:active{
    background-color: aqua;
    color: red;
}

.web-menu{
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: aliceblue;
}

#official-site-frame{
    -ms-flex-align: center;
}
